build
.*
*~
ACE/
ACE_TAO/
*C.h
*C.inl
*C.cpp
*P.h
*S.h
*S.inl
*S.cpp
*A.h
*A.cpp
GNUmakefile*
*.sln
*.vcxproj*
*.tlog
*.lastbuildstate
*.obj
*.pdb
*.Build.CppClean.log
*.dll
*.dylib
*.lib
*.iobj
*.ipdb
*.ilk
*.exp
*.exe
*.kdev4
*.so*
*.log
commit.txt
taox11/html
taox11/latex
taox11/
*.gcno
workspace.mwc*
ciaox11/
dancex11/
ridl/
taox11/
stage/
/lib/*
